{{setTitle "Search Movies"}}
            <section id="search">
                <h1>Search</h1>
                <form method="GET" class="form">
                    <input type="text" class="search" name="title" value="{{filter.title}}" placeholder="Title...">
                    <input type="text" name="genre" class="genre" value="{{filter.genre}}" placeholder="Genre...">
                    <input type="number" name="year" class="year" value="{{filter.year}}" placeholder="Year...">
                    <input type="submit" value="search">
                </form>
            </section>

            <section id="catalog">
                <div class="band">
                    {{#each movies}}
                        {{>movie}}
                    {{else}}
                        <div class="no-posts">
                            <p class="no-offer">There are no movies matched...</p>
                        </div>
                    {{/each}} 
                </div>
            </section>